$dncColor: #00AEF3;
$rncColor: #E61B23;
$myPurple: #786287;

$dncToRnc: linear-gradient(to right, #00aef3 0%,#e61b23 100%);
// $light-Grayish-Blue: hsl(214, 64%, 98%);
// $mid-Grayish-Blue: hsl(208, 11%, 55%);


$myBlack: #010101;
$myWhite: ghostwhite;